._demo--container
  a.wordmark(href='http://www.ibm.com/watson/developercloud/')
    span.wordmark--left Software II - 
    span.wordmark--right Uso de Watson Para reconocimiento Visual
  nav.heading-nav(role='menubar')
    li.base--li.heading-nav--li(role='presentation')
      a.heading-nav--item(href='http://www.ibm.com/watson/developercloud/services-catalog.html', role='menuitem') Integrantes
    
._demo--banner.banner
  ._demo--container
    .banner--service-container
      .banner--service-icon-container
        img.banner--service-icon(src='/images/robot-inteligente.jpg', alt='Visual Recognition API Icon')
      .banner--service-info
        h1.banner--service-title.base--h1
          img.banner--service-icon_INLINE(src='/images/robot-inteligente.jpg', alt='Visual Recognition API Icon')
          | Reconocimiento Visual
        .banner--service-description
          | ¡Descubra el significado del contenido visual! Analice imágenes de escenas, objetos, rostros y otros contenidos. Seleccione un modelo predefinido o cree su propio clasificador personalizado. Buscar imágenes similares en una colección. Desarrolle aplicaciones inteligentes que analizan el contenido visual de imágenes o fotogramas para comprender lo que sucede en una escena.
    .banner--service-resource-container
      .banner--row
        .banner--service-resource
          span.icon.icon-link
          strong Recursos:
      .banner--row
        .banner--service-links
          li.base--li.banner--service-link-item
            a.base--a(href='https://www.ibm.com/watson/developercloud/visual-recognition/api/v3/') API Referencias
          li.base--li.banner--service-link-item
            a.base--a(href='http://www.ibm.com/watson/developercloud/doc/visual-recognition/') Documentación
         
