._train
  .gray-overlay.gray-overlay_visible
  div._demo--container
    ._container--training
      h1.base--h2.use--header Seguridad e Inspección de equipaje en Aeropuertos
      div
        | Los objetos no permitidos dentro de un Aeropuerto se clasifican en 4 grupos.
      h2 Grupos de Objetos no Permitidos en un Aeropuerto
      ._training--examples
        ._training--example.clickable(data-kind='explosivos')
          h3 Explosivos
          img(src='/images/bundles/explosivos/explosivos.jpg')
        ._training--example.clickable(data-kind='dogs')
          h3 Razas de Perros
          img(src='/images/bundles/dogs/thumbnail.jpg')
        ._training--example.clickable(data-kind='user')
          h3 Usar uno propio
          ._training--use-your-own.square
            ._training--use-your-own-plus +

  ._examples(data-kind="user")
    .user-submitted
      form#user_upload.upload.training_dropzone
        div._demo--container
          input(type="hidden",name="classifiername",value="")
          .positive
            h2 Clases positivas
            p.text Sube tu propio pack de imagenes en un archivo zip en los espacios de abajo. <br/> El archivo ZIP no debe sobrepasar los 5Mb.
            .classifiers
              .classifier(data-hasfile=0,data-idx=0)
                .text
                  span.text-label
                    a.base--a(href="#") Selecciona
                    |  o arrastre un archivo zip con al menos 50 imagenes
                  img.text-zip-image(src="images/VR zip icon.svg")
                input(type="file",name="classupload",accept="application/zip")
                input.base--input(type="text",name="classname",placeholder="Nombre de esta clase")
                a(href="").base--a.clear_link Limpiar
              .classifier(data-hasfile=0,data-idx=1)
                .text
                  span.text-label
                    a.base--a(href="#") Selecciona
                    |  o arrastre un archivo zip con al menos 50 imagenes
                  img.text-zip-image(src="images/VR zip icon.svg")
                input(type="file",name="classupload",accept="application/zip")
                input.base--input(type="text",name="classname",placeholder="Nombre de esta clase")
                a(href="").base--a.clear_link Limpiar
              .classifier(data-hasfile=0,data-idx=2)
                .text
                  span.text-label
                    a.base--a(href="#") Selecciona
                    |  o arrastre un archivo zip con al menos 50 imagenes
                  img.text-zip-image(src="images/VR zip icon.svg")
                input(type="file",name="classupload",accept="application/zip")
                input.base--input(type="text",name="classname",placeholder="Nombre de esta clase")
                a(href="").base--a.clear_link Limpiar
          .seperator
          .negative
            h2.negative-header Clases negativas opcionales
            .classifiers
              .classifier(data-hasfile=0,data-idx=3).negative
                .text
                  span.text-label
                    a.base--a(href="#") Selecciona
                    |  o arrastre un archivo zip con al menos 50 imagenes
                  img.text-zip-image(src="images/VR zip icon.svg")
                input(type="hidden",name="classname",value="negative")
                input(type="file",name="negativeclassupload",accept="application/zip")
                a(href="").base--a.clear_link Limpiar
                p Usa imagenes que se pueden parecer a los del pack pero son diferentes en realidad.


  div._demo--container
  ._examples(data-kind='explosivos')
      a.select_all(data-kind='explosivos') Seleccionar Todos
      ._examples--classes
        ._examples--class._positive(data-name='armas', data-kind='explosivos', data-realname='Armas')
          h4 Armas
          img(src='/images/bundles/explosivos/armas-img.jpg', data-kind='explosivos', data-name='armas')
          button._positive(data-name='armas') Seleccionar

        ._examples--class._positive(data-name='explosivo', data-kind='explosivos', data-realname='Explosivo')
          h4 Explosivo
          img(src='/images/bundles/explosivos/explosivos-img.jpg', data-kind='explosivos', data-name='explosivo')
          button._positive(data-name='explosivo') Seleccionar

        ._examples--class._positive(data-name='granadas', data-kind='explosivos', data-realname='Granadas')
          h4 Granadas
          img(src='/images/bundles/explosivos/granadas-img.jpg', data-kind='explosivos', data-name='granadas')
          button._positive(data-name='granadas') Seleccionar

        ._examples--class._positive(data-name='pirotecnico', data-kind='explosivos', data-realname='Pirotecnico')
          h4 Pirotécnicos
          img(src='/images/bundles/explosivos/pirotecnico-img.png', data-kind='explosivos', data-name='pirotecnico')
          button._positive(data-name='pirotecnico') Seleccionar

        ._examples--class._negative(data-name='negatives', data-kind='explosivos')
          h4 Negativos:
            br
            | No son Explosivos
          img(src='/images/bundles/explosivos/explosivos-no.jpg', data-kind='explosivos', data-name='negatives')
          button._negative(data-name='negatives') Seleccionar
      ._examples--contact-sheet(data-kind='explosivos')
        img


  ._examples(data-kind='dogs')
      a.select_all(data-kind='dogs') Seleccionar Todos
      ._examples--classes
        ._examples--class._positive(data-name='goldenretriever', data-kind='dogs', data-realname='Golden Retriever')
          h4 Golden Retriever
          img(src='/images/bundles/dogs/goldenretriever-thumbnail.jpg', data-kind='dogs', data-name='goldenretriever')
          button._positive(data-name='goldenretriever') Seleccionar
        ._examples--class._positive(data-name='husky', data-kind='dogs', data-realname='Husky')
          h4 Siberiano
          img(src='/images/bundles/dogs/husky-thumbnail.jpg', data-kind='dogs', data-name='husky')
          button._positive(data-name='husky') Seleccionar
        ._examples--class._positive(data-name='dalmatian', data-kind='dogs', data-realname='Dalmatian')
          h4 Dalmata
          img(src='/images/bundles/dogs/dalmatian-thumbnail.jpg', data-kind='dogs', data-name='dalmatian')
          button._positive(data-name='dalmatian') Seleccionar
        ._examples--class._positive(data-name='beagle', data-kind='dogs', data-realname='Beagle')
          h4 Beagle
          img(src='/images/bundles/dogs/beagle-thumbnail.jpg', data-kind='dogs', data-name='beagle')
          button._positive(data-name='beagle') Seleccionar
        ._examples--class._negative(data-name='negatives', data-kind='dogs')
          h4 Negativos:
            br
            | No son perros
          img(src='/images/bundles/dogs/negatives-thumbnail.jpg', data-kind='dogs', data-name='negatives')
          button._negative(data-name='negatives') Seleccionar
      ._examples--contact-sheet(data-kind='dogs')
        img

    .train--row
      #formStateErrorMessage
      input.base--input._examples--input-name(type='text', placeholder='Name this class',required)
      .train--column-1
        button.train--train-button.base--button(disabled='true') Train your classifier
        .license
          | Esta es una demostración no te emociones &nbsp;
          a.base--a(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/visual-recognition/', target='_balnk') API
          span .
      .train--column-2
        .icon-hyperlink.train--reset
          span.icon.icon-reset
          button.base--a.train--reset-button.icon-hyperlink--button.icon-hyperlink--button_BLANK(type='reset')
            | Reiniciar
    
    .loading.train--loading
      .loader-container
        svg.loader(viewBox='25 25 50 50')
          circle.loader__path(cx='50', cy='50', r='20')
      p.base--p.loading--message Watson está entrenando a su nuevo clasificador. 
      p.base--p.loading--message Esto puede tomar hasta 3-4 minutos basado en el número de imágenes.
    .error.train--error
      img.train--error-image.error--image(src='images/icons/alert.svg')
      p.base--p.train--error-message.error--message Reconocimiento visual no está disponible ahora...
